
<div id="page">
	<div id="content">
		<div class="post">
			{% if page.heading != null || page.title-image != null %}
				<div id="title">
				{% if page.heading != null %}
					<h1>{{ page.heading }}</h1>
				{% else if page.title-image != null %}
					<img src="{{ page.title-image }}" alt="{{ page.title }}" />
				{% endif %}
			
				{% if page.date-range != null %}
					<h2>{{ page.date-range }}</h2>
				{% endif %}
				</div>
			{% endif %}

			<div class="posttext">
				{{ content }}
			</div>

			<div class="clearer"></div>
		</div>
	</div>
</div>
