
<div id="parentcategorypage" class="{{ page.parentcategorypage-alignment }}">

	{%- include pagebanner.html -%}

	<div id="content">

		<div id="categorysummaries">

			{% for categoryPage in site.pages %}
				{% if categoryPage.parent-slug == page.page-slug %}

					<div class="categorysummary">		
		
					{% assign title = categoryPage.summary-title | strip_html | strip_newlines %}
					{% if title == '' %}
    					{% assign title = categoryPage.title | strip_html | strip_newlines %}
					{% endif %}

					<a href="{{ categoryPage.url }}"><img src="{{ categoryPage.summary-image }}" alt="{{ title }}" /></a>
					<div class="details"><h2><a href="{{ categoryPage.url }}">{{ title }}</a></h2>
					<h3>{{ categoryPage.date-range }}</h3>
					<p>{{ categoryPage.summary-text }}</p></div>
		
					</div>
					<div class="clearer"></div>

				{% endif %}
			{% endfor %}

		</div>
	
	</div>

</div>


