---
layout: base
---

<div id="homepage">

	{%- include pagebanner.html -%}

	<div id="content">

		<div class="post">
			<div class="clearer"></div>
			<div class="posttext">
{{ content }}
			</div>
			<div class="clearer"></div>
		</div>
		<div class="clearer"></div>
	
	</div>
	
	<div id="updates" class="tintbg">
		<h2>What's new with Derek and Lindsay</h2>

		{% for post in site.posts %}
			{% if forloop.index == 16 %}
				{% break %}
			{% endif %}
		
			{% for categoryInstance in site.pages %}
				{% assign categorySlug = categoryInstance.name | replace: '.md', '' %}
				{% if categorySlug == post.category-slug %}
					{% assign categoryPage = categoryInstance %}
					{% break %}
				{% endif %}
			{% endfor %}

			{% capture anchorurl %}{{ categoryPage.url }}#{% include postidtoanchor.html path=post.id %}{% endcapture %}
	
			{% if post.thumbnail != nil %}
				{% assign post_image = post.thumbnail %}
			{% else %}
				{% assign post_image = "images/DandLsquare.png" %}
			{% endif %}

			{% assign remainder = forloop.index | modulo: 3 %}	
	
			<div class="update{% if remainder == 0 %} last{% endif %}">
				<a href="{{ anchorurl }}">
					<img src="{{ post_image }}" alt="{{ post.title }}" width="70" height="70"/>
				</a>
				<div class="details">
					<h3><a href="{{ anchorurl }}">{{ post.title }}</a></h3>
					<p>{{ post.date | date: "%-d %B %Y" }}</p>
				</div>
			</div>

		{% endfor %}

	</div>
	<div class="clearer"></div>

</div>
